.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 100px;
}

.final{
    text-align: left;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.slide2{
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
